<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="src/app.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

<body>
    <div class="container" ng-app="sortApp" ng-controller="mainController">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchTechnologies">
                </div>
            </div>
        </form>
        <div class="section_">
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
            <a href="#" ng-click="sortType = 'technologies'; sortReverse = !sortReverse">
            Technologies 
            <span ng-show="sortType == 'technologies' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'technologies' && sortReverse" class="fa fa-caret-up"></span>
          </a>
            <a href="#" ng-click="sortType = 'team'; sortReverse = !sortReverse">
            Team 
            <span ng-show="sortType == 'team' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'team' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </div>

        <div class="section_profiles">
            <div class="profile_main" ng-repeat="employee in employees | orderBy:sortType:sortReverse | filter:searchTechnologies">
                <span class="worker_photo"><img ng-src="{{ employee.picture }}" /></span>
                <span>{{ employee.name }}</span>
                <span>Pracuje w: {{ employee.technologies }}</span>
                <span>Team: {{ employee.team }}</span>
                <span>Zainteresowania: {{ employee.hobbies }}</span>
            </div>
        </div>



    </div>

</body>

</html>