<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="src/app.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

<body>  
    <div class="container" ng-app="sortApp" ng-controller="mainController">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchTechnologies">
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'technologies'; sortReverse = !sortReverse">
          Technologies 
            <span ng-show="sortType == 'technologies' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'technologies' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'team'; sortReverse = !sortReverse">
          Team 
            <span ng-show="sortType == 'team' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'team' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <div ng-repeat="employee in employees | orderBy:sortType:sortReverse | filter:searchTechnologies">
                    <span><img ng-src="{{ employee.picture }}" /></span>
                    <span>{{ employee.name }}</span>
                    <span>{{ employee.technologies }}</span>
                    <span>{{ employee.team }}</span>
                </div>
            </tbody>

        </table>

        
    </div>

</body>

</html>